body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.buttons-container {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

button {
    font-size: 2rem;
}

button:disabled {
    color: rgb(0, 0, 0);
}

#replay-button {
    display: none;
}